Problem 1: Create a list of the 10 elements of four different types of Data Type like int, string, complex and float.

In [82]:
List = [23,'srikar',6+8j,23.9,[2,3,4,5,6],23,56,'vedula',3+4j,45.6]

print(List)

[23, 'srikar', (6+8j), 23.9, [2, 3, 4, 5, 6], 23, 56, 'vedula', (3+4j), 45.6]

Create a list of given structure and run 
	x=[100,200,300,400,500,[1,2,3,4,5,[10,20,30,40,50],6,7,8,9],600,700,800]
Access list [1, 2, 3, 4]
Access list [600,  700]
Access list [100, 300, 500, 600, 800]
Access list [[800, 700, 600, [1, 2, 3, 4, 5, [10, 20, 30, 40, 50], 6, 7, 8, 9], 500, 400, 300, 200, 100]]
Access list [10]
Access list [ ]

In [83]:
x=[100,200,300,400,500,[1,2,3,4,5,[10,20,30,40,50],6,7,8,9],600,700,800] 
y=x[5]
z=y[0:4]
print("Access list [1, 2, 3, 4]: ", z)
print("Access list [600, 700]: ",x[6:8])
w=[x[0],x[2],x[4],x[6],x[8]]
print("Access list [100, 300, 500, 600, 800]: ",w)
reverse=x[::-1]
print("Reverse list: ",reverse)
v=y[5]
print("Access list [10]: ",v[0])

Access list [1, 2, 3, 4]:  [1, 2, 3, 4]
Access list [600, 700]:  [600, 700]
Access list [100, 300, 500, 600, 800]:  [100, 300, 500, 600, 800]
Reverse list:  [800, 700, 600, [1, 2, 3, 4, 5, [10, 20, 30, 40, 50], 6, 7, 8, 9], 500, 400, 300, 200, 100]
Access list [10]:  10

In [84]:
# initializing a with range() 
a = list(range(1,1000)) 
  
# initializing a with xrange() 

  
# testing the type of a 
print ("The return type of range() is : ") 
print (a)

The return type of range() is :
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298, 299, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324, 325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337, 338, 339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350, 351, 352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363, 364, 365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376, 377, 378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389, 390, 391, 392, 393, 394, 395, 396, 397, 398, 399, 400, 401, 402, 403, 404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415, 416, 417, 418, 419, 420, 421, 422, 423, 424, 425, 426, 427, 428, 429, 430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 440, 441, 442, 443, 444, 445, 446, 447, 448, 449, 450, 451, 452, 453, 454, 455, 456, 457, 458, 459, 460, 461, 462, 463, 464, 465, 466, 467, 468, 469, 470, 471, 472, 473, 474, 475, 476, 477, 478, 479, 480, 481, 482, 483, 484, 485, 486, 487, 488, 489, 490, 491, 492, 493, 494, 495, 496, 497, 498, 499, 500, 501, 502, 503, 504, 505, 506, 507, 508, 509, 510, 511, 512, 513, 514, 515, 516, 517, 518, 519, 520, 521, 522, 523, 524, 525, 526, 527, 528, 529, 530, 531, 532, 533, 534, 535, 536, 537, 538, 539, 540, 541, 542, 543, 544, 545, 546, 547, 548, 549, 550, 551, 552, 553, 554, 555, 556, 557, 558, 559, 560, 561, 562, 563, 564, 565, 566, 567, 568, 569, 570, 571, 572, 573, 574, 575, 576, 577, 578, 579, 580, 581, 582, 583, 584, 585, 586, 587, 588, 589, 590, 591, 592, 593, 594, 595, 596, 597, 598, 599, 600, 601, 602, 603, 604, 605, 606, 607, 608, 609, 610, 611, 612, 613, 614, 615, 616, 617, 618, 619, 620, 621, 622, 623, 624, 625, 626, 627, 628, 629, 630, 631, 632, 633, 634, 635, 636, 637, 638, 639, 640, 641, 642, 643, 644, 645, 646, 647, 648, 649, 650, 651, 652, 653, 654, 655, 656, 657, 658, 659, 660, 661, 662, 663, 664, 665, 666, 667, 668, 669, 670, 671, 672, 673, 674, 675, 676, 677, 678, 679, 680, 681, 682, 683, 684, 685, 686, 687, 688, 689, 690, 691, 692, 693, 694, 695, 696, 697, 698, 699, 700, 701, 702, 703, 704, 705, 706, 707, 708, 709, 710, 711, 712, 713, 714, 715, 716, 717, 718, 719, 720, 721, 722, 723, 724, 725, 726, 727, 728, 729, 730, 731, 732, 733, 734, 735, 736, 737, 738, 739, 740, 741, 742, 743, 744, 745, 746, 747, 748, 749, 750, 751, 752, 753, 754, 755, 756, 757, 758, 759, 760, 761, 762, 763, 764, 765, 766, 767, 768, 769, 770, 771, 772, 773, 774, 775, 776, 777, 778, 779, 780, 781, 782, 783, 784, 785, 786, 787, 788, 789, 790, 791, 792, 793, 794, 795, 796, 797, 798, 799, 800, 801, 802, 803, 804, 805, 806, 807, 808, 809, 810, 811, 812, 813, 814, 815, 816, 817, 818, 819, 820, 821, 822, 823, 824, 825, 826, 827, 828, 829, 830, 831, 832, 833, 834, 835, 836, 837, 838, 839, 840, 841, 842, 843, 844, 845, 846, 847, 848, 849, 850, 851, 852, 853, 854, 855, 856, 857, 858, 859, 860, 861, 862, 863, 864, 865, 866, 867, 868, 869, 870, 871, 872, 873, 874, 875, 876, 877, 878, 879, 880, 881, 882, 883, 884, 885, 886, 887, 888, 889, 890, 891, 892, 893, 894, 895, 896, 897, 898, 899, 900, 901, 902, 903, 904, 905, 906, 907, 908, 909, 910, 911, 912, 913, 914, 915, 916, 917, 918, 919, 920, 921, 922, 923, 924, 925, 926, 927, 928, 929, 930, 931, 932, 933, 934, 935, 936, 937, 938, 939, 940, 941, 942, 943, 944, 945, 946, 947, 948, 949, 950, 951, 952, 953, 954, 955, 956, 957, 958, 959, 960, 961, 962, 963, 964, 965, 966, 967, 968, 969, 970, 971, 972, 973, 974, 975, 976, 977, 978, 979, 980, 981, 982, 983, 984, 985, 986, 987, 988, 989, 990, 991, 992, 993, 994, 995, 996, 997, 998, 999]

Write a program in Python to iterate through the list of numbers in the range of 1,100 and print the number which is divisible by 3 and a multiple of 2.

In [85]:
List=[]
for i in range(1,100):
    if (i%3==0) and (i%2==0):
        List.append(i)
print(List)

[6, 12, 18, 24, 30, 36, 42, 48, 54, 60, 66, 72, 78, 84, 90, 96]

In [86]:
st = "Srikar" 
rev=''
for i in st: 
    rev = i + rev  
print(rev)

List11=[]
for c in rev:
    if (c=='a'or c == 'A' or c == 'e' or c == 'E' or c == 'i' or c == 'I' or c == 'o' or c == 'O' or c == 'u' or c == 'U'):
        List11.append(c)

print(c)

rakirS
S

Benefit of tuples over lists:
The benefits of using tuples over lists is that tuples are much faster than lists and they take up less memory. Since tuples are immutable, any data can be protected.

In [87]:
#Task 10
evenList=[]
oddList=[]
limit=int(input("Enter a number between 1 and 50: "))
for i in range(0,limit):
    if i % 2 == 0:
        evenList.append(i)
    else:
        oddList.append(i)
print("Even List: ",evenList)
print("Odd List: ",oddList)

Enter a number between 1 and 50: 48
Even List:  [0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46]
Odd List:  [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47]

In [88]:
#Task 11
List3="aaaabbbbbbbbccdddeeeeeeee"

a=len(List3)
List4=""  
count=1  
print(a)  
for i in range(a-1):     
    j=i+1                
    if List3[i]==List3[j]:   
        count+=1            
    else:                     
        List4+=List3[i]+str(count)     
        count=1
    i+=1                    
List4+=List3[i]+str(count)   
print(List4)

25

TypeError: 'str' object is not callable

In [101]:
#task 12
tu=(1,2,3,4,5,6,7,8,9,10)
l = list()

for i in tu:
    if i % 2 == 0:
        l.append(i)
tu2 = tuple(l)
print(tu2)

(2, 4, 6, 8, 10)

# Functions

Write a program to reverse a string.

In [89]:
def Reverse(st):
    rev=''
    for i in st: 
        rev = i + rev  
    print(rev)

st='Consultadd'
print (Reverse(st))

ddatlusnoC
None

In [90]:
def upperlower(s):
    u=0
    l=0
    for i in s:
        if i.isupper():
           u+=1
        elif i.islower():
           l+=1    
    print ("Upper case characters : ", u)
    print ("Lower case characters : ", l)
upperlower('I am receiving Python training from Consultadd')

Upper case characters :  3
Lower case characters :  37

In [91]:
def unique(st):
    return set(st)
st=[1,2,2,2,3,4,5]
print(unique(st))

{1, 2, 3, 4, 5}

In [92]:
def upper(st):
    return st.upper()
st='I am learning Python'
print(upper(st))

I AM LEARNING PYTHON

In [93]:
def Sum(x,y):
    s = int(x) + int(y)
    return s 
v1 = "40"
v2 = "50"
sum = Sum(v1, v2)
print(sum)

90

In [96]:
def max_length(y):
     return max(y,key=len)
x=input('enter two string with using space\n')
print(max_length(x.split()))

enter two string with using space
where are
where

In [97]:
def tuplesquare():
    l = list()
    for i in range(1,20):
        l.append(i**2)
    return tuple(l)
tuplesquare()

(1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361)

Write a function called showNumbers that takes a parameter called limit. It should print all the numbers between 0 and limit with a label to identify the even and odd numbers.

In [103]:
def showNumbers(limit): 
    for i in range(0,limit):
        if i % 2 == 0:
            print(i, ":",'EVEN')
        else:
            print(i ,":",'ODD')
x = int(input("Give me a number. "))
showNumbers(x)

Give me a number. 24
0 : EVEN
1 : ODD
2 : EVEN
3 : ODD
4 : EVEN
5 : ODD
6 : EVEN
7 : ODD
8 : EVEN
9 : ODD
10 : EVEN
11 : ODD
12 : EVEN
13 : ODD
14 : EVEN
15 : ODD
16 : EVEN
17 : ODD
18 : EVEN
19 : ODD
20 : EVEN
21 : ODD
22 : EVEN
23 : ODD